body{
    background-color: #F8F0E5;
}

.container{
    width: 50%;
    border-radius: 5px;
    height: 250px;
    margin: auto;
    text-align: center;
    background-color: #EADBC8;
    
    
   
}
.counterText{
    color:#0F2C59;
    font-size: 48px;
    font-family: sans-serif;
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 0px;
}
.counter{
    font-size: 48px;
    margin-bottom: 10px;
    font-family: sans-serif;
}

.btn{
    background-color: transparent;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
.btn:hover{
    border: 1px solid blue;

}